.row
  .seven.columns
    %h2 Artist Statement
    %p.bio= @user.artist_statement
    %h2 Exhibition History
    %h5 Solo Exhibitions
    %table
      - @solos.each do |solo|
        %tr
          %td= solo.first_column
          %td= solo.second_column
          %td= solo.third_column
    %h5 Selected Group Shows
    %table
      - @groups.each do |group|
        %tr
          %td= group.first_column
          %td= group.second_column
          %td= group.third_column
    %h2 Education
    %table
      - @schools.each do |school|
        %tr
          %td= school.first_column
          %td= school.second_column
          %td= school.third_column
    %h2 Teaching Positions
    %table
      - @teachings.each do |teach|
        %tr
          %td= teach.first_column
          %td= teach.second_column
          %td= teach.third_column
  .five.columns
    - cache 'bio_image' do
      = image_tag @user.bio_image, :class => 'bio'
