.row
  .seven.columns
    %h2 Artist Statement
    %p.bio= @user.artist_statement
    %h2 Exhibition History
    %h5 Solo Exhibitions
    %table
      - @solos.each do |solo|
        = render partial: 'table', :locals => {info: solo}
    %h5 Selected Group Shows
    %table
      - @groups.each do |group|
        = render partial: 'table', :locals => {info: group}
    %h2 Education
    %table
      - @schools.each do |school|
        = render partial: 'table', :locals => {info: school}
    %h2 Teaching Positions
    %table
      - @teachings.each do |teach|
        = render partial: 'table', :locals => {info: teach}
  .five.columns
    - cache [@user, 'bio_image'] do
      = image_tag @user.bio_image, :class => 'bio'
