.row
  .four.columns
    %h3 Paintings
    = link_to 'New Painting', new_painting_path, class: 'button small success', remote: true
    #paint_form
    %br
    %br
    - cache 'admin_paintings' do
      - @paintings.each do |painting|
        .row
          .six.columns
            = image_tag painting.image, class: 'admin'
          .six.columns
            %ul.admin
              %li= "Title: #{painting.name}"
              %li= "Description: #{painting.description}"
              %li
                = link_to 'Edit', edit_painting_path(painting.id), class: 'button tiny', remote: true
                = link_to 'Delete', painting, :method => :delete, class: 'button tiny alert'
  .four.columns
    %h3 Works on Paper
    = link_to 'New Work', new_paper_path, class: 'button small success', remote: true
    #paper_form
    %br
    %br
    - cache 'admin_papers' do
      - @papers.each do |paper|
        .row
          .six.columns
            = image_tag paper.image, class: 'admin'
          .six.columns
            %ul.admin
              %li= "Title: #{paper.name}"
              %li= "Description: #{paper.description}"
              %li
                = link_to 'Edit', edit_paper_path(paper.id), class: 'button tiny', remote: true
                = link_to 'Delete', paper, :method => :delete, class: 'button tiny alert'
  .four.columns
    %h3 Links
    = link_to 'New Link', new_link_path, class: 'button small success', remote: true
    #link_form
    %br
    %br
    - @links.each do |link|
      .row
        .six.columns
          = link_to link.display, link.address, target: 'blank'
        .six.columns
          %ul.admin
            %li= "Display Text: #{link.display}"
            %li= "Web Address: #{link.address}"
            %li
              = link_to 'Edit', edit_link_path(link.id), class: 'button tiny', remote: true
              = link_to 'Delete', link, :method => :delete, class: 'button tiny alert'
.row
  .twelve.columns
    %h3 General
    .row
      .twelve.columns
        %h4 Artist Statement
        = best_in_place @user, :artist_statement, :type => :textarea
    .row
      .six.columns
        - cache 'admin_bio_image' do
          %h4 
            Bio Image
            = link_to 'Edit', edit_user_path(@user.id), class: 'button tiny', remote: true
          #bio_image_form
          .twelve.columns
            = image_tag @user.bio_image
      .six.columns
        - cache 'admin_contact_image' do
          %h4 
            Contact Image
            = link_to 'Edit', edit_user_path(@user.id), class: 'button tiny', remote: true
          #contact_image_form
          .twleve.columns
            = image_tag @user.contact_image
.row
  .twelve.columns
    %h3 Bio Info
    .row
      .twelve.columns
        %h4 Exhibition History
        %h5 
          Solo Exhibitions
          = link_to 'New', solo_new_exhibition_path, class: 'button tiny success', remote: true
        #solo_form
        %table#solos
          = render :partial => "/shared/table", :locals => {:info => @solos}
    .row
      .twelve.columns
        %h5 
          Selected Group Shows
          = link_to 'New', group_new_exhibition_path, class: 'button tiny success', remote: true
        #group_form
        %table#groups
          = render :partial => "/shared/table", :locals => {:info => @groups}
    .row
      .twelve.columns
        %h4 
          Education
          = link_to 'New', new_school_path, class: 'button small success', remote: true
        #school_form
        %table#schools
          = render :partial => "/shared/table", :locals => {:info => @schools}
    .row
      .twelve.columns
        %h4 
          Teaching Positions
          = link_to 'New', new_teaching_position_path, class: 'button small success', remote: true
        #teaching_form
        %table#teachings
          = render :partial => "/shared/table", :locals => {:info => @positions}
        