.row
  .four.columns
    %h3 Paintings
    = link_to 'New Painting', new_painting_path, class: 'button small success', remote: true
    #paint_form
    %br
    %br
    - @paintings.each do |painting|
      .row
        .six.columns
          = image_tag painting.image, class: 'admin'
        .six.columns
          %ul.admin
            %li= "Title: #{painting.name}"
            %li= "Description: #{painting.description}"
            %li
              = link_to 'Edit', edit_painting_path(painting.id), class: 'button tiny', remote: true
              = link_to 'Delete', painting, :method => :delete, class: 'button tiny alert'
  .four.columns
    %h3 Works on Paper
    = link_to 'New Work', new_paper_path, class: 'button small success', remote: true
    #paper_form
    %br
    %br
    - @papers.each do |paper|
      .row
        .six.columns
          = image_tag paper.image, class: 'admin'
        .six.columns
          %ul.admin
            %li= "Title: #{paper.name}"
            %li= "Description: #{paper.description}"
            %li
              = link_to 'Edit', edit_paper_path(paper.id), class: 'button tiny', remote: true
              = link_to 'Delete', paper, :method => :delete, class: 'button tiny alert'
  .four.columns
    %h3 Links
    = link_to 'New Link', new_link_path, class: 'button small success', remote: true
    #link_form
    %br
    %br
    - @links.each do |link|
      .row
        .six.columns
          = link_to link.display, link.address, target: 'blank'
        .six.columns
          %ul.admin
            %li= "Display Text: #{link.display}"
            %li= "Web Address: #{link.address}"
            %li
              = link_to 'Edit', edit_link_path(link.id), class: 'button tiny', remote: true
              = link_to 'Delete', link, :method => :delete, class: 'button tiny alert'
.row
  .twelve.columns
    %h3 General
    #general_form
    %br
    %br
    .row
      .nine.columns
        %h5 Artist Statement
        %p= @user.artist_statement
        %h5 Bio Image
        = image_tag @user.bio_image
        %h5 Contact Image
        = image_tag @user.contact_image
      .three.columns
        %ul.admin
          %li
            = link_to 'Edit', edit_user_path(@user.id), class: 'button tiny', remote: true