      / %ul{:'data-clearing'=>true}
        / %li
      .item
        %a{:href=>'/assets/paintings/painting1.jpg'}
          = image_tag 'paintings/painting1.jpg', :class => 'paintings'
        / %li
      .item
        %a{:href=>'/assets/paintings/painting2.jpg'}
          = image_tag 'paintings/painting2.jpg', :class => 'paintings'
        / %li
      .item
        %a{:href=>'/assets/paintings/painting3.jpg'}
          = image_tag 'paintings/painting3.jpg', :class => 'paintings'
        / %li
      .item
        %a{:href=>'/assets/paintings/painting4.jpg'}
          = image_tag 'paintings/painting4.jpg', :class => 'paintings'
        / %li
      .item
        %a{:href=>'/assets/paintings/painting5.jpg'}
          = image_tag 'paintings/painting5.jpg', :class => 'paintings'
        / %li
      .item
        %a{:href=>'/assets/paintings/painting6.jpg'}
          = image_tag 'paintings/painting6.jpg', :class => 'paintings'
        / %li
      .item
        %a{:href=>'/assets/paintings/painting7.jpg'}
          = image_tag 'paintings/painting7.jpg', :class => 'paintings'
        / %li
      .item
        %a{:href=>'/assets/paintings/painting8.jpg'}
          = image_tag 'paintings/painting8.jpg', :class => 'paintings'